html,
body {
  height: 100%;
}

body {
  background-color: #001821;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

*,
::after,
*::before {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin-top: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  background: transparent;
  border: none;
}